name: demo-11 secrets
on:
  push:
    branches: [ main ]
jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - name: Log in to the Container registry
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_ACCESS_USER }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} 
    - name: Run script with secret
      run: echo Hallo, this is a dummy ${{ secrets.MY_SAMPLE_SECRET }}      
    - name: Run action with secret
      uses: my-user/demo-action@main
         
