name: demo 6 with parameters
on:
  push:
    branches: [ main ]
jobs:
  echo-parameter:
    runs-on: ubuntu-latest
    steps:
      - name: step one
        id: step-1
        run: echo "field_step_one=MyValues Is 42" >> $GITHUB_OUTPUT
      - name: step two
        id: step-2
        run: echo "my out value is ${{ steps.step-1.outputs.field_step_one }}"
        
